.header {
    background-color: #36213E;
    text-align: center;
    width: 100%;
}

.header__logo {
    width: 300px;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        width: 180px;
    }
}